.App {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.upload-btn {
    margin: 15px;
}

.payslips {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
